.skills {
  padding: 3rem 2rem;
  text-align: center;
  background-color: #f0f4f8;
  border-radius: 10px;
}

.skills h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin-right: 10px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.skill {
  width: 40%;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.skill:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.skill span {
  font-size: 1.1rem;
  font-weight: 500;
  color: #333;
}

.progress-bar {
  width: 100%; 
  background-color: #e0e0e0;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin-right: 10px;
}

.progress {
  height: 100%;
  width: 0;
  transition: width 1s ease-in-out;
  border-radius: 5px;
}

.progress-bar .progress {
  background: linear-gradient(45deg, #f0a500, #f06d00);
}

.progress-bar .progress::after {
  content: none;
}
/* 
Shimmer effect */
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.skill:hover .progress {
  width: 100%;
  
}

@media (max-width: 768px) {
  .skills-container {
    width: 100%;
    padding: 0 1rem;
  }

  .skill {
    width: 80%;
  }
}
